<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liujianan.cube.flowable.mapper.CubeFlowableModelerMapper">

<delete id="deleteFormModelerRelation">
    delete from cube_flowable_form_model where model_id = #{modelId}
</delete>
    
    <update id="updateModelDeploymentId">
        update act_re_model
        set DEPLOYMENT_ID_ =
            (select DEPLOYMENT_ID_ from act_re_procdef
             where KEY_ = #{key} and VERSION_ = #{version})
        where  ID_ = #{modelId}
    </update>
</mapper>
